* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: relative;
    z-index: 1000;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn {
    padding: 6px 15px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #E31D1A;
}

.btn-secondary {
    background-color: #FFC107;
}

.menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: 0.3s;
}

/* Menú Hamburguesa en versiones de escritorio y móvil */
@media (min-width: 400px) {
    .menu-icon {
        display: flex;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 200px;
        padding: 5px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.show {
        display: flex;
    }

    .nav-menu li {
        margin: 5px 0;
        text-align: center;
    }

    .nav-right {
        gap: 4px; /* Espacio para los botones a la derecha */
    }
}

@media (max-width: 400px) {
    .nav-right {
        display: none;
    }

    .menu-icon {
        display: flex;
    }

    .nav-menu.mobile {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 5px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nav-menu.mobile.show {
        display: flex;
    }

    .nav-menu.mobile li {
        margin: 5px 0;
        text-align: center;
    }

    img, video {
        max-width: 100%;
        height: auto;
    }
}
