* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    position: relative;
    z-index: 1000;
}

body {
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 60px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

.nav-right {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin-right: 30px;
    gap: 25px;
}

.nav-menu li a {
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: red;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons .btn {
    padding: 8px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #E31D1A;
}

.btn-secondary {
    background-color: #FFC107;
}

.mobile-menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: black;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-right {
        display: none;
    }

    .mobile-menu-icon {
        display: flex;
    }

    /* Menú móvil */
    .nav-menu.mobile {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: white;
        width: 100%;
        padding: 10px 0;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    /* Mostrar el menú móvil al hacer clic */
    .nav-menu.mobile.show {
        display: flex;
    }

    .nav-menu.mobile li {
        margin: 10px 0;
        text-align: center;
    }
}