* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
}

.carousel-caption-static {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.2); /* Fondo semitransparente para mejorar legibilidad */
    padding: 20px;
    border-radius: 10px;
    z-index: 10; /* Asegura que el texto esté sobre las imágenes del carrusel */
}

.carousel-caption-static h5 {
    font-size: 3.5rem;
    font-weight:800;
    color:red;
}

.carousel-caption-static p {
    font-size: 1.4rem;
    color: white;
    font-weight:200;
}

.style{
    background-color: #FFC107;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.btn-warning:hover {
    background-color: #E0A800;
}
@media (max-width: 1125px) {
    .carousel-caption-static h5 {
        font-size: 3vw; /* Ajuste del tamaño de fuente para pantallas medianas */
    }

    .carousel-caption-static p {
        font-size: 2vw; /* Ajuste del tamaño de fuente para pantallas medianas */
    }

    .style {
        font-size: 1rem; /* Ajuste del tamaño del botón para pantallas medianas */
        padding: 4px 8px; /* Ajuste del padding del botón */
    }

    .carousel-caption-static {
        padding: 7px; /* Ajuste del padding del texto */
    }
}

@media (max-width: 412px) {
    .carousel-caption-static h5 {
        font-size: 4vw; /* Ajuste del tamaño de fuente para pantallas pequeñas */
    }

    .carousel-caption-static p {
        font-size: 2vw; /* Ajuste del tamaño de fuente para pantallas pequeñas */
    }

    .style {
        font-size: 0.9rem; /* Ajuste del tamaño del botón para pantallas pequeñas */
        padding: 4px 8px; /* Ajuste del padding del botón */
    }

    .carousel-caption-static {
        padding: 10px; /* Ajuste del padding del texto */
    }
}
.beneficios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D32F2F;
    padding: 70px 5%;
    margin: 0;
    flex-wrap: wrap; /* Permitir que los ítems se distribuyan en múltiples filas */
}

.beneficios-item {
    text-align: center;
    color: white;
    flex: 1 1 23%; /* Flexbox para distribuir 4 ítems en cada fila en pantallas grandes */
    padding: 10px; /* Añadir padding */
    box-sizing: border-box; /* Incluir padding en el tamaño total */
    margin: 10px 0; /* Añadir margen vertical */
}

.beneficios-item img {
    width: 80px; /* Ajustar el tamaño de los íconos */
    height: auto;
    margin-bottom: 10px;
    filter: brightness(0) invert(1); /* Hacer que los íconos sean blancos */
}

.beneficios-item h3 {
    font-size: 1.2rem;
    margin: 5px 0;
    font-weight: bold;
}

.beneficios-item .highlight {
    color: #FFD700; /* Color amarillo */
    font-weight: bold;
    font-size: 1.2rem;
}

/* Estilos responsivos */
@media (max-width: 1125px) {
    .beneficios-item {
        flex: 1 1 48%; /* Dos ítems por fila en pantallas medianas */
    }

    .beneficios-item img {
        width: 70px; /* Ajustar el tamaño de los íconos */
    }

    .beneficios-item h3 {
        font-size: 1.1rem;
    }

    .beneficios-item .highlight {
        font-size: 1.1rem;
    }
}

@media (max-width: 412px) {
    .beneficios-item {
        flex: 1 1 100%; /* Un ítem por fila en pantallas pequeñas */
    }

    .beneficios-item img {
        width: 60px; /* Ajustar el tamaño de los íconos */
    }

    .beneficios-item h3 {
        font-size: 1rem;
    }

    .beneficios-item .highlight {
        font-size: 1rem;
    }
}


section {
    padding: 20px 5%; /* Ajustar padding para adaptarse mejor a diferentes tamaños de pantalla */
    margin: 20px 0;
}

#area1 h1 {
    color: red;
    font-size: 2.5rem; /* Ajustar tamaño de fuente */
    margin-left: 5%; /* Utilizar unidades relativas para margen */
    text-align: left;
    font-weight: 800;
}

#linea-roja{
    height: 2px;
    background-color: red;
    width: 15%;
    margin-left: 5%; /* Utilizar unidades relativas para margen */
    margin-top: 5px;
    margin-bottom: 50px;
}

.carreras, .programas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tarjeta {
    background-color: white;
    width: 100%;
    max-width: 480px; /* Limitar ancho máximo para las tarjetas */
    border-radius: 20px;
    overflow: hidden;
    box-shadow:  4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px; /* Espacio entre tarjetas */
    text-align: left;
    flex: 1 1 calc(33.33% - 40px); /* Tres tarjetas por fila con espacio entre ellas */
}

.tarjeta img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.contenido-tarjeta {
    padding: 25px;
}

.contenido-tarjeta h2 {
    font-size: 1.5rem; /* Ajustar tamaño de fuente */
    color: #333;
    font-weight: 700;
}

.contenido-tarjeta p {
    color: #777;
    font-size: 1.2rem; /* Ajustar tamaño de fuente */
}

.boton {
    display: inline-block;
    margin-top: 15px;
    padding: 13px 30px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem; /* Ajustar tamaño de fuente */
    font-weight: 800;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
    .tarjeta {
        flex: 1 1 calc(50% - 40px); /* Dos tarjetas por fila en pantallas medianas */
    }
}

@media (max-width: 1125px) {
    section {
        padding: 10px 2%; /* Reducir padding en pantallas pequeñas */
    }

    #area1 h1 {
        font-size: 2rem; /* Reducir tamaño de fuente en pantallas pequeñas */
        margin-left: 0;
        text-align: center; /* Centrar el texto */
    }

    #linea-roja {
        width: 50%; /* Aumentar el ancho de la línea roja en pantallas pequeñas */
        margin: 10px auto; /* Centrar la línea roja */
    }

    .tarjeta {
        flex: 1 1 100%; /* Una tarjeta por fila en pantallas pequeñas */
        margin: 10px 0; /* Reducir margen en pantallas pequeñas */
    }

    .contenido-tarjeta h2 {
        font-size: 1.8rem; /* Ajustar tamaño de fuente */
    }

    .contenido-tarjeta p {
        font-size: 1.4rem; /* Ajustar tamaño de fuente */
    }

    .boton {
        font-size: 1.2rem; /* Ajustar tamaño de fuente */
        padding: 10px 20px; /* Ajustar padding */
    }
}


/* Área 2: Sección de horarios */
#area2 {
    display: flex;
    flex-direction: column;
}

/* Título de la sección */
#area2 h1 {
    color: red;
    font-size: 32px;
    font-weight: 800;
    margin-left: 20px;
    text-align: left;
}

/* Línea roja debajo del título */
#linea-roja {
    height: 2px;
    background-color: red;
    width: 15%;
    margin: 5px 0 20px 20px;
}

/* Contenedor de horarios e imagen */
.horarios-imagen {
    display: flex;
    flex-wrap: wrap; /* Se adapta a pantallas pequeñas */
    justify-content: space-between; /* Espacio entre la imagen y los horarios */
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    width: 100%;
}

/* Contenedor de los horarios */
.horarios {
    flex: 1;
    max-width: 50%; /* Mantiene el 50% del ancho */
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

/* Caja de cada horario individual */
.horario {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
}

/* Estilo del título de cada horario */
.horario h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

/* Texto descriptivo del horario */
.horario p {
    font-size: 18px;
    color: #555;
    font-weight: bold;
}

/* Texto adicional en el horario */
.horario span {
    font-size: 20px;
    font-weight: bold;
}

/* Contenedor de la imagen */
.imagen-horario {
    flex: 1;
    max-width: 40%; /* La imagen ocupa el 40% */
    text-align: right;
}

/* Imagen dentro del contenedor */
.imagen-horario img {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
}

/* Colores personalizados */
#rojo { color: #e74c2c; }
#amarillo { color: #f6b900; }
#celeste { color: #5293d0; }
#verde { color: #9fce52; }

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .horarios-imagen {
        flex-direction: column; /* Apila la imagen y los horarios */
    }

    .horarios, .imagen-horario {
        max-width: 100%; /* Ocupa todo el ancho */
        text-align: center; /* Centra el contenido */
    }
}

/* Área 3: Solicita Información */
#area3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    background: linear-gradient(to bottom, #ffc30b, #ffe557);
    margin-top: 100px;
    margin-bottom: 200px;
}

.formulario-contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    padding: 0 20px;
}

.formulario {
    background-color: #e53e3e;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.formulario h2 {
    color: #373737;
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1;
    padding: 5px;
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
}

.formulario .fila {
    display: flex;
    justify-content: space-between;
}

.formulario .fila input {
    width: 45%;
}

.checkbox {
    display: flex;
    align-items: center;
    flex-direction: column; 
    margin: 0;
    padding: 10px;
}

.checkbox input {
    margin-right: 310px;

}
.checkbox label{
    color: #333333; 
    text-align: left;
}

.boton-enviar {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

/*texto lateral */
.texto {
    text-align: center;
    padding-left: 30%;
    padding-right: 20px;
    margin: 0;
}

.texto h1 {
    font-size: 65px;
    font-weight: bold;
    color: black;
    line-height: 1;
}

.texto .futuro {
    color: #ffffff;
}

.texto .mercado {
    color: red;
}
/* Estilos responsivos */ 
@media (max-width: 1415px) { 
    .formulario { 
        width: 560px; /* Ocupa el 100% del ancho en pantallas medianas */ } 
    .texto { 
        padding-left: 0; /* Eliminar padding en pantallas medianas */ } 
    .texto h1 { 
        font-size: 3.5rem; /* Reducir el tamaño de fuente en pantallas medianas */ } } 
   
@media (max-width: 1000px) { 

    .formulario { 
        width: 560px; /* Ocupa el 100% del ancho en pantallas pequeñas */ } 
    .texto { 
        padding: 0 20px; /* Reducir padding en pantallas pequeñas */ } 
    .texto h1 { 
        font-size: 2.7rem; /* Reducir el tamaño de fuente en pantallas pequeñas */ } }   
@media (max-width: 768px) { 
    #area3 { 
        flex-direction: column; /* Cambiar a disposición en columna en pantallas pequeñas */ 
        padding: 30px 10px; } 
    .formulario-contenedor { 
        padding: 0 10px; /* Reducir padding en pantallas muy pequeñas */ 
        flex-direction:column; /* Cambiar a disposición en columna en pantallas pequeñas */ 
        align-items:center; } 
    .formulario { 
        width: 380px; /* Ocupa el 100% del ancho en pantallas muy pequeñas */ } 
    .formulario .fila input { 
        width: 100%; /* Ocupa el 100% del ancho en pantallas muy pequeñas */ 
        margin-bottom: 10px; /* Añadir margen inferior */ 
    } 
}
